#ignore local unused directories
OLD
photo
*.pptx
#ingore raw data
All_data/logs/*
#ignore intermediate files created by the ScripDownloadAggregate
Script_downloadAggregate/modified
Script_downloadAggregate/withHeader
#ignore output ScripDownloadAggregate
Script_downloadAggregate/*.csv
Script_downloadAggregate/*.root
#ignore all root an csv TEST
*.root
*.csv
*.png
*.pdf
*.xlsx
