#ignore local unused directories
OLD
photo
*.pptx
#ingore raw data
All_data/logs/*
#ignore intermediate files created by the ScripDownloadAggregate
Script_downloadAggregate/modified
Script_downloadAggregate/withHeader
Percentage_Scan/Dec2022/Script_downloadAggregate/modified
Percentage_Scan/Dec2022/Script_downloadAggregate/withHeader
#ignore all root an csv TEST
*.root
*.csv
*.png
*.pdf
*.xlsx
